<h1>ulima</h1>
<%= @order_user.name %>さま

<p>ulimaのご利用ありがとうございます。</p>
<p><%= @item.name %>の取引のご案内です。</p><br>

<p><%= @sell_user.name %>様にアイテム購入のご連絡をいたしましたので、代金(<%= @item.price %>円)を渡してアイテムを受け取ってください。</p>
<p>もしくは<%= @sell_user.name %>様『<%= @sell_user.email %>』にご連絡ください。</p>
