<h1>ulima</h1>
<%= @sell_user.name %>さま

<p>ulimaのご利用ありがとうございます。</p>
<p><%= @item.name %>の取引のご案内です。</p><br>

<p><%= @order_user.name %>様が購入されたので、アイテムを渡して代金(<%= @item.price %>円)を受け取ってください。</p>
<p>もしくは<%= @order_user.name %>様『<%= @order_user.email %>』にご連絡ください。</p>
