<% provide(:title, @item.name) %>
<div class="row">
  <div class="space_top">
    <div class="col-md-6">
      <div class="item_image">
        <% unless @item.pictures.last.nil? %>
          <div><%=image_tag @item.pictures.last.picture.url, size: "400x400"%></div>
        <% else %>
          <%=image_tag 'no_image.jpg', size: "400x400"%>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <% unless current_user.nil? %>
        <% if @item.user_id == current_user.id %>
          <%= link_to 'アイテム情報を修正', edit_item_path(@item) %>
        <% end %>
      <% end %>
      <div class="name">
        <h3><%=@item.name%></h3>
      </div>
      <h3 class="space_top">
        ￥
        <%=@item.price%>
      </h3>
      <% unless @item.quantity.zero? %>
        <div class="base_button">
          <%= button_to "購入", purchases_path(id: @item.id ), class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="base_button">
          <%= button_to "sold out", '#', class: "btn btn-primary", disabled: true %>
        </div>
      <% end %>
      <div>
        残り<%= @item.quantity %>個
      </div>
      <div class="space_top">
        <%= @item.description %>
      </div>
    </div>
  </div>
</div>
